.register-form {
    border-radius: 4px;
    border: 2px solid #ddd;
    padding: 40px;
    background-color: #FFF;
    display: inline-block;
    float: none;
    margin: 30px 0 50px 0;
}

.formWrapper {
    text-align: center;
}

.register-form h1 {
    font-weight: 200;
    color: #000;
    margin: 0 auto 40px auto;
}

.login-form-wrapper {
    text-align: center;
}

.login-form-fields {
    max-width: 400px;
    float: none;
    margin: 20px auto 20px auto;
}

.sign-in-btn {
    margin-bottom: 20px;
    text-align: right;
}

.sign-up-btn {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.no-account {
    display: block;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 18px;
}

.search-from-wrapper {
    max-width: 500px;
}


.register-formWrapper {
    text-align: center;
}


#id_picture {
    display: inline-block;
}

#pic-label {
    display: block;
}

.register-input {
    padding: 10px 20px;
    min-width: 400px;
    border-radius: 6px;
    border: 2px solid #ddd;
    font-weight: 500;
    font-size: 16px;
}

.reg-error {
    color: red;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-brand {
    padding: 5px 5px 5px 25px;
}

.cats-table {
    margin-top: 20px;
}

.change-pass {
    margin-top: 20px;
    font-weight: 500;
}

blockquote {
    font-size: 16px;
}

#info-search {
    background-color: #337ab7;
    font-weight: 500;
    border-radius: 6px;
}

#info-search p {
    margin-left: 5px;
    color: white;

}

#info-trigger {
    cursor: pointer;
    color: #337ab7;
    margin-left: 5px;
}

#search-data {
    display: block;
}