.save-msg-existent {
    margin-left: 10px;
    font-weight: 600;
    color: crimson;
}

.save-msg-error {
    margin-left: 10px;
    font-weight: 600;
    color: crimson;
}

.save-msg-success {
    margin-left: 10px;
    font-weight: 600;
    color: #4da6ff;
}

.search-content {
    margin-top: 20px;
}

.public-cats-heading {
    margin: 0px;
}

.create-new-category-wrapper {
    display:none;
}