{% extends 'base.html' %}

{% load staticfiles %}
{% load pagination_tags %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 public-cats">
                        {% if category %}
                            <h1>{{ category_name }}</h1>

                            <p>User: {{ category.user }}</p>

                            <p id="cat_views_paragraph">
                                This category has been viewed <b id="cat_views">{{ category.views }}</b>
                                 times.
                            </p>
                            <br>
                            {% if pages %}
                                <table class="table" valign="baseline">
                                <tbody>
                                    {% autopaginate pages 5 %}
                                    {% for page in pages %}
                                    <tr>
                                    <td class="text-left page-info" valign="bottom">
                                        <a href="{{ page.url }}">{{ page.title }}</a>
                                        {% if page.source == "bing" %}
                                        <p>Source: Bing</p>
                                        {% elif page.source == "medline" %}
                                        <p>Source: Medline</p>
                                        {% else %}
                                        <p>Source: Healthgov</p>
                                        {% endif %}
                                        <form id="delete-page-form" method="post" action="{% url 'delete_page' %}">
                                           {% csrf_token %}
                                            <input class="page-info" type="hidden" value="{{ page.title }}"/>
                                           <input class="cat-info" type="hidden" value="{{ category_name }}" name="category-title" />
                                        </form>
                                    </td>
                                    <td>
                                        <span class="recipients-number"><strong>Summary: </strong>{{ page.summary }}</span>
                                    </td>
                                    <td class="category-sharer" valign="bottom" align="left">
                                        <p class="cat-descr"><strong>Readability score: </strong>{{ page.flesch_score }}</p>
                                    </td>
                                    <td class="category-sharer" valign="bottom" align="left">
                                        <p class="cat-descr"><strong>Polarity score: </strong>{{ page.sentiment_score }}</p>
                                    </td>
                                    <td class="category-sharer" valign="bottom" align="left">
                                        <p class="cat-descr"><strong>Subjectivity score: </strong>{{ page.subjectivity_score }}</p>
                                    </td>
                                    {% if category.user == user %}
                                    <td>
                                        <!--<input type="submit" class="btn btn-danger delete-btn btn-sm" value="Delete"/>-->
                                        <button type="submit" class="btn btn-danger delete-btn btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                    {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                {% paginate %}
                            {% else %}
                                <strong>No pages currently in category.</strong>
                            {% endif %}
                        {% else %}
                            The specified category {{ category_name }} does not exist!
                        {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>Page scores</h3>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <blockquote>
                    <h4>Readability</h4>
                    <p>This score calculates the readability of the webpage.
                        Scale:</p>
                    <ul>
                        <li>90-100 : Very Easy</li>
                        <li>80-89 : Easy</li>
                        <li>70-79 : Fairly Easy</li>
                        <li>60-69 : Standard</li>
                        <li>50-59 : Fairly Difficult</li>
                        <li>50-59 : Fairly Difficult</li>
                        <li>0-29 : Very Confusing</li>
                    </ul>
                </blockquote>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <blockquote>
                    <h4>Polarity</h4>
                    <p>Describes the page's sentiment score, depending on how positive or negative it is.<br/>
                    Scale: [-1.0, 1.0]</p>
                </blockquote>
                <blockquote>
                    <h4>Subjectivity</h4>
                    <p>Describes the subjectivity of the page.<br/>
                    Scale: [0.0, 1.0]</p>
                </blockquote>
            </div>


            </div>
        </div>
    </div>
    <script src="{% static "js/js.cookie.js" %}"></script>
    <script src="{% static "js/delete_page.js" %}"></script>

{% endblock %}