{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block body_block %}

    <div class="container">
        <div class="row">
            <div class="register-formWrapper">
                <div class="col-xs-5 register-form ">
                    <form id="user_form" method="post" action="" enctype="multipart/form-data">
                        <h1>Edit profile</h1>
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="register-input" id="id_email" maxlength="75" type="email" name="email" autofocus value="" placeholder="Your new email address"/>
                        </div>
                        <div class="form-group">
                            <label id="pic-label" for="uploadFile">Change Your Profile Picture</label>
                            <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                            <div class="fileUpload btn btn-default" id="uploadBtn">
                                <span>Upload</span>
                                <input id="uploadBtn" name="picture" type="file" class="upload" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit" value="Save changes" />
                        </div>
                        <a href="{% url 'userauth_password_change' %}">Change password</a>
                    </form>
                 </div>
            </div>

        </div>
    </div>

<script src="{% static "js/form_js.js" %}"></script>
{% endblock %}


