{% if cats %}
    <table class="table" valign="baseline">
    <tbody>
        {% for category in cats %}
            <tr>
            <td class="category-info">
                <p class="category-name"><strong>{{ category.name }}</strong></p>
            </td>
            <td>
                <span class="recipients-number"><strong>Shared by: </strong>{{ category.user }}</span>
            </td>
            <td class="category-sharer" valign="bottom" align="left">
                <p class="cat-descr"><strong>Description: </strong>{{ category.description }}</p>
            </td>
            <td class="text-right" valign="bottom">
                <a href="{% url 'goto' %}?cat_id={{ category.id }}"> See more</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
        <strong>No public categories match your search.</strong>
{% endif %}