{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 public-cats">
                <h1>Privacy Policy</h1>
                <p class="lead">

                    Any information submitted by the client for searching for a condition, importing pictures, sharing personal details and
                    any customer service issues is deemed strictly confidential. We will not disclose your personal information with anyone.
                    Any of the previously mentioned information would not be used for commercial purposes
                    and would not be provided to third party sources and services.
                    <br/><br/>

                <a href="{% url 'index' %}">Go to home page</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}