{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block body_block %}
    {{ profileuser.picture.url }}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="span6 well well-lg">
        <center>
            {% if userprofile.picture %}
        <img src="/fhs{{ userprofile.picture.url }}" name="aboutme" width="140" height="140" class="img-circle">
            {% else %}
           <img src="{% static "images/profile generic.gif" %}" name="aboutme" width="140" height="140" class="img-circle">
            {%  endif %}
        <h3>{{ user.username }}</h3>
        <em class="center-block">{{ user.email  }}</em>

		</center>
    </div><a href="{% url 'add_category' %}" class="btn btn-default" >Add Category</a><a href="{% url 'editprofile' %}" class="btn btn-default pull-right" >Edit</a><br><br>
        <form id="form" method="post" action="/fhs/profile/"
                            enctype="multipart/form-data">
            {% csrf_token %}
                <table class="table" valign="baseline">
                <tbody>
                        {% for category in public_categories %}
                                <tr>
                                <td><input name="dependable" value="{{ category.id }}" type="checkbox" onchange="document.getElementById('del').disabled = !this.checked;" ></td>
                                <td class="category-info">
                                    <p class="category-name"><strong>{{ category.name }}</strong></p>
                                </td>
                                <td class="category-sharer" valign="bottom" align="left">
                                    <p class="cat-descr"><strong>Description: </strong>{{ category.description }}</p>
                                </td>
                                <td class="category-visibility" valign="bottom" align="left">
                                    <p class="cat-descr"><strong>Shared </strong>{{ category.shared }}</p>
                                </td>
                                <td class="text-right" valign="bottom">
                                    <a href="{% url 'goto' %}?cat_id={{ category.id }}"> See more</a>
                                </td>

                                <td>
                                    <a href="#"><span class="glyphicon glyphicon-bin"></span></a>
                                </td>
                                </tr>
                        {% endfor %}
                </tbody>
                </table>
        <button type="submit" id="del" class="btn btn-danger btn-deletenumber" disabled="">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
        </form>
</div>
{% endblock %}