{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            {% if registered %}
                <h1>Thank you for registering!</h1>
                <a href="{% url 'index' %}">Return to the homepage.</a><br />
            {% else %}
                <div class="register-formWrapper">
                    <div class="col-xs-5 register-form">

                        <form id="user_form" method="post" action="/fhs/register/"
                            enctype="multipart/form-data">
                            <h1>Register</h1>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">Username</label>
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                            <div class="form-group">
                                <label for="id_email">Email</label>
                                <input id="id_email" maxlength="75" name="email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password</label>
                                <input id="id_password" name="password" type="password">
                            </div>
                            <div class="form-group">
                                <label for="id_picture">Profile Picture</label>
                                <input id="id_picture" name="picture" type="file">
                            </div>
                            <div class="login"><input type="submit" name="submit" value="Register" /></div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}