{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            {% if registered %}
                <h1>Thank you for registering!</h1>
                <p></p><a href="{% url 'index' %}">Return to the homepage.</a><br/></p>
                <p>The Federated Health Search Application provides a secure and quick way<br>for you to search for
                different conditions, medicines, symptoms and treatments.<br></p>
                <p>As a registered user you can:</p>
                    <ul>
                    <li>Choose between Bing, Medline Plus and healthfinder.gov.</li>
                    <li>Create categories and save resources you find into them.</li>
                    <li>Share these resources with other people.</li>
                    <li>Maintain your public profile.</li>
                    </ul>
            {% else %}
                <div class="register-formWrapper">
                    <div class="col-xs-5 register-form register-formWrapper">

                        <form id="user_form" method="post" action="/fhs/register/"
                            enctype="multipart/form-data">
                            <h1>Register</h1>
                            {% csrf_token %}
                            {% if username_taken %}
                                <p class="reg-error" >Fail registration attempt: This username is already in the system. Please try again with a different username</p>
                            {% endif %}
                            <div class="form-group">
                                <input class="register-input" id="id_username" maxlength="50" name="username" placeholder="Account name" type="text">
                            </div>
                            {% if email_in_db %}
                                <p class="reg-error" >Fail registration attempt: This email is already in the system. Please try again with a different email</p>
                            {% endif %}
                            <div class="form-group">
                                <input class="register-input" id="id_email" maxlength="75" name="email" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <input class="register-input" id="id_password" name="password" maxlength="50" placeholder="Password" type="password">
                            </div>
                            <div class="form-group">
                                <label id="pic-label" for="id_picture">Profile Picture</label>
                                <input id="id_picture" name="picture" type="file">
                            </div>
                            <div class="login"><input class="btn btn-primary sign-up-btn" type="submit" name="submit" value="Sign Up" /></div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}