{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            {% if registered %}
                <h1>Thank you for registering</h1>
                <p class="lead">The Federated Health Search Application provides a secure and quick way for you to search for
                different conditions, medicines, symptoms and treatments.
                Users can search in the general web - Bing, and two specialised medical websites - Medline Plus and healthfinder.gov.<br/><br/>
                Registered users can create categories and save resources they find into them. Moreover, they can maintain their public profile
                and choose whether to share their categories with other users of the website.
                The application should help the users understand if the information is easy to read,
                is loaded with sentiment and subjectivity.
                Created by students at the University of Glasgow. For educational purposes only.
                <br/><br/>
                Andrey Georgiev, Georgi Koyrushki, Katya Bacheva, Veselin Vasilev.
                <br/>
                The Federated Health Search App © 2016</p>
                <a href="{% url 'index' %}">Go to home page</a>
            {% else %}
                <div class="register-formWrapper">
                    <div class="col-xs-5 register-form register-formWrapper">

                        <form id="user_form" method="post" action="/fhs/register/"
                            enctype="multipart/form-data">
                            <h1>Register</h1>
                            {% csrf_token %}
                            {% if username_taken %}
                                <p class="reg-error" >Fail registration attempt: This username is already in the system. Please try again with a different username.</p>
                            {% endif %}
                            {% if name %}
                            <div class="form-group">
                                <input class="register-input" id="id_username" value="{{ name }}" required autofocus maxlength="50" name="username" placeholder="Account name" type="text">
                            </div>
                            {% else %}
                            <div class="form-group">
                                <input class="register-input" id="id_username" required autofocus maxlength="50" name="username" placeholder="Account name" type="text">
                            </div>
                            {% endif%}
                            {% if email_in_db %}
                                <p class="reg-error">Fail registration attempt: This email is already in the system. Please try again with a different email.</p>
                            {% endif %}

                            {% if email %}
                            <div class="form-group">
                                <input class="register-input" id="id_email" value="{{ email }}" maxlength="75" name="email" required placeholder="Email" type="email">
                            </div>
                            {% else %}
                            <div class="form-group">
                                <input class="register-input" id="id_email" maxlength="75" name="email" required placeholder="Email" type="email">
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <input class="register-input" id="id_password" required name="password" maxlength="50" placeholder="Password" type="password">
                            </div>
                            {% if age %}
                            <div class="form-group">
                                <input class="register-input" id="id_age" value="{{ age }}" maxlength="3" name="age" required placeholder="Age" type="text" />
                            </div>
                            {% else %}
                            <div class="form-group">
                                <input class="register-input" id="id_age" maxlength="3" name="age" required placeholder="Age" type="text" />
                            </div>
                            {% endif %}
                            <div class="form-group">
                            <label for="gender">Your gender</label>
                            <select name="gender" class="page-choice" required>
                                <option value="">Select Gender</option>
                                {% if gender == "male" %}
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                {% else %}
                                    <option value="male">Male</option>
                                    <option value="female" selected>Female</option>
                                {% endif %}
                            </select>
                            </div>
                            <div class="form-group">
                                <label id="pic-label" for="uploadFile">Profile Picture</label>
                                <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                                <div class="fileUpload btn btn-default" id="uploadBtn">
                                    <span>Upload</span>
                                    <input id="uploadBtn" name="picture" type="file" class="upload" />
                                </div>
                            </div>
                            <div class="login"><input class="btn btn-primary sign-up-btn" type="submit" name="submit" value="Sign Up" /></div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script src="{% static "js/form_js.js" %}"></script>
{% endblock %}