{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Search Here(Bing)</h1>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="search-from-wrapper">
                    <form id="user_form" method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        <!-- Display the search form elements here -->
                         <div class="form-group">
                            <input class="form-control" type="text" name="query" value="" id="query" />
                         </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="18" name="teen"/> 0-18
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="40" name="adult"/> 19-40
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="65" name="midlife"/> 41-65
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="100" name="old"/> 65+
                            </label>
                        </div>
                    </form>
                </div>


                <div class="panel">
                    {% if result_list %}

                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#all">All Results</a></li>
                          <li><a data-toggle="tab" href="#medline">Medline Plus</a></li>
                          <li><a data-toggle="tab" href="#healthgov">Healthgov</a></li>
                          <li><a data-toggle="tab" href="#bing">Bing</a></li>
                        </ul>

                        <div class="tab-content">
                          <div id="all" class="tab-pane fade in active">
                            <div class="panel-heading">
                            <h3 class="panel-title">Results</h3>
                            <!-- Display search results in an ordered list -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in result_list %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                                                <p class="list-group-item-text">{{ result.summary }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div id="medline" class="tab-pane fade">
                            <h3>Medline Plus</h3>
                            <p>Some content in menu 1.</p>
                          </div>
                          <div id="healthgov" class="tab-pane fade">
                            <h3>Healthgov</h3>
                            <p>Some content in menu 2.</p>
                          </div>
                          <div id="bing" class="tab-pane fade">
                            <h3>Bing</h3>
                            <p>Some content in menu 2.</p>
                          </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}