{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Search Here(Bing)</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="search-from-wrapper">
                    <form id="user_form" method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        <!-- Display the search form elements here -->
                        {% if query %}
                            <div class="form-group">
                                 <label for="query">Your search</label>
                                 <input class="form-control" type="text" name="query" value="{{ query }}" id="query" />
                            </div>
                        {% else %}
                            <div class="form-group">
                                 <label for="query">Your search</label>
                                 <input class="form-control" type="text" name="query" placeholder="I am looking for..." id="query" />
                            </div>
                        {% endif %}

                        {% if age %}
                            <div class="form-group">
                             <label for="age">Your age</label>
                             <input class="form-control" type="text" name="age" value="{{ age }}" id="query" />
                            </div>
                        {% else %}
                            <div class="form-group">
                             <label for="age">Your age</label>
                             <input class="form-control" type="text" name="age" id="query" />
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="gender">Your gender</label>
                            <select name="gender" class="page-choice" required>
                                {% if gender == "male" %}
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                {% else %}
                                    <option value="male">Male</option>
                                    <option value="female" selected>Female</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                        </div>
                    </form>
                </div>


                <div class="panel">
                    {% if results_from_bing or results_from_healthgov or results_from_medline %}

                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#all">All Results</a></li>
                          <li><a data-toggle="tab" href="#medline">Medline Plus</a></li>
                          <li><a data-toggle="tab" href="#healthgov">Healthgov</a></li>
                          <li><a data-toggle="tab" href="#bing">Bing</a></li>
                        </ul>

                        <div class="tab-content">
                          <div id="all" class="tab-pane fade in active">
                            <div class="panel-heading">
                            <h3 class="panel-title">Results</h3>
                            <!-- Display search results in an ordered list -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in results_from_bing %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a href="{{ result.url }}">{{ result.title }}</a></h4>
                                                <p class="list-group-item-text">{{ result.summary }}</p>
                                                <form id="save_page_form" method="post" action="{% url 'save_page' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" class="hidden-info" value="{{ result.url }}" name="url"/>
                                                    <input type="hidden" class="hidden-info" value="{{ result.title }}" name="title"/>
                                                    <input type="hidden" class="hidden-info" value="{{ result.summary }}" name="summary"/>
                                                    <input type="hidden" class="hidden-info" value="bing" name="source"/>
                                                    <select name="category" class="category-choice" required>
                                                        {% for category in categories %}
                                                            <option value={{ category.name }}>{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="submit" class="btn btn-primary save-btn" value="Save page"/>
                                                </form>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div id="medline" class="tab-pane fade">
                              <!--from here start results from Medline Plus-->
                              <div class="panel-heading">
                                <h3 class="panel-title">Medline Plus</h3>
                            <!-- Display search results in an ordered list -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in results_from_medline %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a href="{{ result.url }}">{{ result.title }}</a></h4>
                                                <p class="list-group-item-text">{{ result.summary }}</p>
                                                <form id="save_page_form" method="post" action="{% url 'save_page' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" class="hidden-info" value="{{ result.url }}" name="url"/>
                                                    <input type="hidden" class="hidden-info" value="{{ result.title }}" name="title"/>
                                                    <input type="hidden" class="hidden-info" value={{ result.summary }} name="summary"/>
                                                    <input type="hidden" class="hidden-info" value="medline" name="source"/>
                                                    <select name="category" class="category-choice" required>
                                                        {% for category in categories %}
                                                            <option value={{ category.name }}>{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="submit" class="btn btn-primary save-btn" value="Save page"/>
                                                </form>
                                            </div>
                                        {% endfor %}
{#                                        #}
                                    </div>
                                </div>
                            </div>
                          </div>
                            <!--Till here results from Medline Plus-->
                          <div id="healthgov" class="tab-pane fade">
                              <!--from here start results from healthgov-->
                              <div class="panel-heading">
                                <h3 class="panel-title">Healthfinder Gov</h3>
                            <!-- Display search results in an ordered list -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in results_from_healthgov %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a href="{{ result.url }}">{{ result.title }}</a></h4>
                                                <form id="save_page_form" method="post" action="{% url 'save_page' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" class="hidden-info" value="{{ result.url }}" name="url"/>
                                                    <input type="hidden" class="hidden-info" value="{{ result.title }}" name="title"/>
                                                    <input type="hidden" class="hidden-info" value="No provided summary" name="summary"/>
                                                    <input type="hidden" class="hidden-info" value="healthgov" name="source"/>
                                                    <select name="category" class="category-choice" required>
                                                        {% for category in categories %}
                                                            <option value={{ category.name }}>{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="submit" class="btn btn-primary save-btn" value="Save page"/>
                                                </form>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                              <!--Till here results from healthgov-->
                          </div>
                          <div id="bing" class="tab-pane fade">
                              <!--from here start results from Bing-->
                              <div class="panel-heading">
                                <h3 class="panel-title">Bing</h3>
                            <!-- Display search results in an ordered list -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in results_from_bing %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a href="{{ result.url }}">{{ result.title }}</a></h4>
                                                <p class="list-group-item-text">{{ result.summary }}</p>
                                                <form id="save_page_form" method="post" action="{% url 'save_page' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" class="hidden-info" value="{{ result.url }}" name="url"/>
                                                    <input type="hidden" class="hidden-info" value="{{ result.title }}" name="title"/>
                                                    <input type="hidden" class="hidden-info" value="{{ result.summary }}" name="summary"/>
                                                    <input type="hidden" class="hidden-info" value="bing" name="source"/>
                                                    <select name="category" class="category-choice" required>
                                                        {% for category in categories %}
                                                            <option value={{ category.name }}>{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="submit" class="btn btn-primary save-btn" value="Save page"/>
                                                </form>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                              <!--Till here results from Bing-->
                          </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/search_ajax.js" %}"></script>
    <script src="{% static "js/js.cookie.js" %}"></script>
{% endblock %}