<div class="list-group-item">
    <h4 class="list-group-item-heading"><a href="{{ result.url }}">{{ result.title }}</a></h4>
    <p class="list-group-item-text">{{ result.summary }}</p>
    <strong>Readibility: </strong> {{ result.flesh_score }} |
    <strong>Subjectivity: </strong> {{ result.subjectivity }} |
    <strong>Polarity: </strong> {{ result.polarity }}
    <form class="save_page_form" method="post" action="{% url 'save_page' %}">
        {% csrf_token %}
        <input type="hidden" class="hidden-info" value="{{ result.url }}" name="url"/>
        <input type="hidden" class="hidden-info" value="{{ result.title }}" name="title"/>
        <input type="hidden" class="hidden-info" value="{{ result.summary }}" name="summary"/>
        <input type="hidden" class="hidden-info" value="{{ result.source }}" name="source"/>
        <input type="hidden" class="hidden-info" value="{{ result.flesh_score }}" name="flesh_score"/>
        <input type="hidden" class="hidden-info" value="{{ result.subjectivity }}" name="subjectivity"/>
        <input type="hidden" class="hidden-info" value="{{ result.polarity }}" name="polarity"/>
        {% if categories %}
            <select name="category" class="category-choice" required>

                {% for category in categories %}
                    <option data-id="{{ category.id }}" value={{ category.name }}>{{ category.name }}</option>
                {% endfor %}
                    <option value="new-cat">Create a new category</option>
            </select>
            <input type="submit" class="btn btn-primary save-btn" value="Save page"/>
            <i class="fa fa-spinner faa-spin animated faa-slow"></i>
    </form>

        <div class="create-new-category-wrapper">
            <p class='create-new-category'>Create a category to save the page in.</p>
            <form class="add_category" method="post" action="/fhs/add_category/"
                                enctype="multipart/form-data">
                {% csrf_token %}
                 <input id="id_name" placeholder="Category name" class="new-cat-info" maxlength="200" name="name" type="text">
                    <input id="id_description" placeholder="Category description" class="new-cat-info"  maxlength="500" name="description" type="text">
                    Shared:
                    <input type="checkbox" id="id_shared" class="new-cat-info-btn" name="shared">
                    <input type="submit" class="btn btn-primary submit-new" name="submit-new" value="Create Category" />
                    <i class="fa fa-spinner faa-spin animated faa-slow"></i>
            </form>
        </div>
        {% else %}

            <select name="category" class="category-choice no-cats" required>
                <option value="new-cat">Create a new category</option>
            </select>
            <input type="submit" class="btn btn-primary save-btn" value="Save page"/>
            <i class="fa fa-spinner faa-spin animated faa-slow"></i>
        </form>
            <div class="create-new-category-wrapper">
                <p class='create-new-category'>Create a category to save the page in.</p>
                <form class="add_category" method="post" action="/fhs/add_category/"
                                    enctype="multipart/form-data">
                    {% csrf_token %}
                     <input id="id_name" placeholder="Category name" class="new-cat-info" maxlength="200" name="name" type="text">
                    <input id="id_description" placeholder="Category description" class="new-cat-info"  maxlength="500" name="description" type="text">
                    Shared:
                    <input type="checkbox" id="id_shared" class="new-cat-info-btn" name="shared">
                    <input type="submit" class="btn btn-primary submit-new" name="submit-new" value="Create Category" />
                    <i class="fa fa-spinner faa-spin animated faa-slow"></i>
                </form>
            </div>
        {% endif %}
    <!--</form>-->
</div>