<!DOCTYPE html>
 <!-- New line -->
{% load staticfiles %}
<html>

    <head>
        <title>{% block title %}FHS{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script
          src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
          integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
          crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href='{% static "css/base.css" %}'>
        <link rel="stylesheet" href='{% static "css/sticky_footer.css" %}'>
        {% block css %} {% endblock %}

    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/images/logo2.jpg" alt="FHS"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_authenticated %}

                            <li><a href='{% url 'register' %}'>Register</a></li>
                            <li><a href='{% url 'login' %}'>Login</a></li>
                        {% else %}
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'search' %}">Search</a></li>
                            <li><a href="/fhs/profile/{{ user }}">My Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        {% block body_block %}{% endblock %}

        <footer class="footer">
          <div class="footer-content">
            <a href="{% url 'about' %}" class="content-about">About</a>
            <a href="{% url 'privacy' %}" class="content-about">Privacy Policy</a>
            <a href="{% url 'terms' %}" class="content-about">Terms of use</a>
            <span class="text-muted content-trademark">2016 Federated Health Search Application</span>
          </div>
        </footer>
    </body>


    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>